<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-dimgray">会員登録する</h1>
        <%= form_for @user do |f| %>
        
          <div class="form-group">
            <%= f.label :ニックネーム%>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :メールアドレス %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
           <div class="form-group">
            <%= f.label :パスワード%>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード確認用%>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <%= f.submit "登録する", class: 'btn-block' %>
        <% end %>
        <div class="text-center">
        <%= link_to 'すでに会員の方はこちら', login_path %>
        </div>
      </div>
    </div>
  </div>
</div>

